# API Configuration
NEXT_PUBLIC_API_URL=https://m7oou2xhf0.execute-api.us-east-1.amazonaws.com/dev

# AWS Cognito Configuration
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_j7vCYcPVp
NEXT_PUBLIC_COGNITO_CLIENT_ID=6nic4kigvu9mbekahh13nsclpu
NEXT_PUBLIC_COGNITO_REGION=us-east-1

# CloudFront CDN
NEXT_PUBLIC_CDN_URL=https://d3h1arh9hpah7a.cloudfront.net
